:root{
	--PortfolioDark:#453C67;
	--PortfolioBlue:#6D67E4;
	--PortfolioLight:white;
	--PortfolioTeal:#46C2CB;
	--PortfolioGreen:#F2F7A1;
	--PortfolioPurple:#E5A5FF;
}
body{
	text-align: center;
	margin: 0;
	color:var(--PortfolioDark);
	font-family: 'DM Sans', sans-serif;
}

h1{
	font-family: 'Lexend Peta', sans-serif;

	font-size: 5rem;
}
.intro{
	background-image: url(https://images.unsplash.com/photo-1496024840928-4c417adf211d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
	background-size: cover;
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;


}

.gallery{
	padding:10px;

	display:grid;
	gap:10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.col{
	display:flex;
	flex-direction: column;
	gap: 10px;
}

.item{
	min-width: 100%;
	border: 1px solid var(--PortfolioDark);
	border-radius: 20px;
}

img{
	padding-top: 10px;
	width: 90%;
	border-radius: 20px;
}

a{
	color: var(--PortfolioTeal);
}
a:hover{
	color: var(--PortfolioPurple);

}

.footer{
	background-color:var(--PortfolioDark);
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
	color:var(--PortfolioLight);

}

@media(max-width:600px){
	.gallery{
		grid-template-columns: 1fr;
	}
}

.expanded{
	position:fixed;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right: 0;

	/*Proportional resizing directions here: https://www.w3docs.com/snippets/css/how-to-resize-images-proportionally-scaled-using-css-for-responsive-web-design.html*/
	width:auto;
	height:90%;



}