:root{
	--PortfolioDark:black;
	--PortfolioLight:;
}
body{
	text-align: center;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
}

h1{
	font-family: 'Lexend Peta', sans-serif;
}
.intro{
	background-image: url();

}

.gallery{

	padding-left: 10px;
	padding-right:10px;
	display:grid;
	gap:10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.col{
	display:flex;
	flex-direction: column;
}

.item{
	min-width: 100%;

}

img{
	width: 100%;
}

.footer{
	background-color:var(--PortfolioDark);

}